body {
    background-color: #f8f9fa;
    padding: 20px;
  }

  .logout-btn {
    float: right;
    margin-bottom: 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #dc3545;
    padding: 10px 15px;
    border-radius: 5px;
  }

  .table-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
  }

  th {
    background-color: #f8f9fa;
  }

.table-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Center the table horizontally */
    max-width: 1000px; /* Set a maximum width for the table */
    height: 0 auto;
  }